<div class="span6 offset3 text-center steamy-hottub">

	<h1 class="custom-font">Hi I'm Kiho</h1>

	<h2>I'm having a blast learning how to code in my bathtub</h2>

	<%= link_to 'Launch my App', pics_path, :class => 'btn btn-info btn-large' %>

</div>